/* --- Keep this sheet --- */
/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/avatar.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background: rgb(200,200,200);
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 700px;
}
.text-center {
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-inline li {
  display: inline-block;
}

.text-light {
  color: rgb(60,60,60);
}
